.body{
    text-align: center;
}
.Logo{
    width: 100px;
    height: 70px;
    border: 3px solid;
    padding: 10px;
    text-align: center;
    margin-left: 45%;               
}
.inline-block{
    display: inline-block;
}
input{
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px;
    margin:  10px 0 5px;
    width: 250pt;
}
button{
    color: #FFFFFF;
    background: #11939a;
    align-content: center;
    box-sizing: border-box;
    width: 390px;
    padding: 10px 10px;
}
label{
    margin: 20px;
    text-align: center;
    position: inherit;
}
select{
    box-sizing: border-box;
    padding: 10px 10px;
}
a{
    display: block;
}
p{
    font-size: 13px;
    display: block;
    text-align: inherit;
    margin: 20px;
}
@media screen and (max-width: 900px) {
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
        background-color: rgb(206, 237, 241);
        alignment: center;
    }
}